<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    <link rel="icon" href="/favicon.png" type="image/png">
    <link rel="stylesheet" href="{{ "css/style.css" | relURL }}" />
    <link rel="stylesheet" href="{{ "css/fonts.css" | relURL }}" />
    {{ partial "head_custom.html" . }}
  </head>

  <header style="text-align: center;">
    {{ if .Site.Params.logo }}
      <a href="{{ .Site.BaseURL }}">
        <img src="{{ .Site.BaseURL }}{{ .Site.Params.logo }}" alt="Logo" style="max-width: 200px; height: auto; margin: 0 auto; display: block;">
      </a>
    {{ end }}
  </header>

  <body>
    <nav>
    <ul class="menu">
      {{ range .Site.Menus.main }}
      <li><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
      {{ end }}
    </ul>
    <hr/>
    </nav>
